<html ng-app="my-app">
	<head>
		<title>AngularJS First Application</title>
	</head>
	<body>
		<!--<div ng-controller="MyController">-->
			<!--<input type="text" ng-model="person.name" placeholder="Enter a name here">-->
			<!--<h3>Hello, {{ person.name }}!</h3>-->
		<!--</div>-->
		<div ng-controller="ParentController">
			<div ng-controller="ChildController">
				<input type="text" ng-model="person.name" placeholder="Name"/>
				<a ng-click="sayHello()">Say hello</a>
			</div>
			{{ person }}
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="src.js"></script>
	</body>
</html>