<h1>{{news.title}}</h1>
<div class="inner-news">
  <div>
    <small>
      {{news.date}}
    </small>
  </div>
  <div>
    {{news.stxt}}
  </div>
</div>
<div data-ng-show="comments.length">
  <span class="fa fa-plus" ng-click="addComment()" title="add your comment"></span>
  <div class="comments-list">
    <div class="comment-item" ng-repeat="comment in comments">
      <div>{{comment.name}}</div>
      <small>{{comment.datetime}}</small>
      <div>{{comment.txt}}</div>
    </div>
  </div>
</div>
<a data-ng-click="showComments()" ng-hide="comments.length" class="btn btn-success">Show Comments List</a>
